* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorTextos: #7e7e7e;
    --colorBotones: #f69229;
    --colorFondo: #5d8a9f;
    --paddingSecciones: 60px 0;
    --marginElementos: 40px;
}

body {
    font-family: 'Lato', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingSecciones);
}

/* Menu */

.menu-navegacion {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    height: 70px;
}

.logo img {
    display: block;
    height: 100%;
}

.enlaces li {
    list-style: none;
    display: inline-block;
}

.enlaces a {
    color: var(--colorFondo);
    text-decoration: none;
    margin-left: 10px;
}

.enlaces a:hover {
    text-decoration: underline;
}

/* Hero */

.hero {
    height: 700px;
    background-image: url("../img/imagen-flexbox-min.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-textos {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
}

.hero p {
    font-weight: 300;
    font-size: 25px;
    margin: 15px 0;
}

.boton {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background: var(--colorBotones);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

/* Main */

.titulo-seccion {
    text-align: center;
    font-size: 35px;
    color: var(--colorFondo);
}

.copy {
    text-align: center;
    color: var(--colorTextos);
    margin: 20px 0;
}

.beneficios {
    padding-top: var(--marginElementos);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beneficio {
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url("../img/imagen-flexbox-min.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.projects {
    background: #f2f2f2;
}

.contenedor-imagenes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-imagenes img {
    display: block;
    object-fit: cover;
    width: 30%;
    height: 220px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    margin-bottom: var(--marginElementos);
}

.people {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.person {
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
}

footer {
    background-image: url("../img/imagen-flexbox-min.png");
    background-position: center;
    background-size: cover;
}

footer .titulo-seccion,
footer .copy {
    color: #fff;
}

.redes-sociales {
    padding-top: var(--marginElementos);
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;

}


.redes-sociales i {
    font-size: 60px;
    color: #fff;
}

@media screen and (max-width:800px) {
    .menu-navegacion {
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }

    .hero h1 {
        font-size: 38px;
    }

    .beneficio {
        margin-bottom: var(--marginElementos);
    }

    .contenedor-imagenes img {
        width: 90%;
    }

    .redes-sociales {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociales i {
        margin-bottom: 20px;
    }
}