
/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --Textoscolorines: #666666;
    --colorBotones: #9ec0a0;
    --colorFondo: #eee;
    --colorBackground: #ccc;
    --colorEnlaces: #707070;
    --colorEnlaceshover: black;
}

html{
    font-size: 16px;
}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--Textoscolorines);
    font-size: 1rem;
    background-color: var(--colorBackground);


    /* padding-top: 70px; Compensa el header fijo */


   /* background-image: url(img/pine-watt-2Hzmz15wGik-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -30px;
    background-attachment: fixed;*/
    
    }





































/* DEFINIMOS ANCHO CONTENEDOR */
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    background-color: var(--colorFondo);
    -border: 1px dotted rgb(125, 125, 125);
}

































/* ESTILOS HEADER FIJO*/

.header-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--colorFondo);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}




.menu{
    display: flex; /* Pone logo y enlaces en fila */
    justify-content: space-between; /*  Logo a la izquierda, enlaces a la derecha */
    align-items: center; /*  Centra verticalmente todo */
    height: 70px; /*  Altura fija del menú */

}

/* estilos logo */
.menu__logo{
    display: flex; 
    align-items: center; /* Centra el logo verticalmente */
    height: 100%; /*  Ocupa toda la altura del menú (70px) */
        /* border: 1px dotted rgb(83, 83, 83);   */
}
.logo__imagen {
       display: block;  /* EVITA espacio fantasma debajo */
    height: 40px;  /* Tamaño fijo para el logo */
}


/* estilos enlaces */
.enlaces__lista{
    display: flex; /*  Pone los enlaces en fila (no en columna) */
    align-items: center; 

    list-style: none; /*  Elimina los puntitos de la lista */
   
    gap: 1rem;
     /* AÑADE espacio entre enlaces */
   
    /* border: 1px dotted rgb(83, 83, 83); */

}


.enlaces__header {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: var(--colorEnlaces); /*  Usa variable CSS para el color  Cambia color al pasar mouse */
    font-weight: 500;
}


.enlaces__header:hover{
    text-decoration: underline;
    color: var(--colorEnlaceshover)
}






















