
/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --Textoscolorines: #666666;
    --colorBotones: #9ec0a0;
    --colorFondo: #eee;
    --colorBackground: #ccc;
    --colorEnlaces: #707070;
    --colorEnlaceshover: black;
}

html{
    font-size: 16px;
}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--Textoscolorines);
    font-size: 1rem;
    background-color: var(--colorBackground);
   /* background-image: url(img/pine-watt-2Hzmz15wGik-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -30px;
    background-attachment: fixed;*/
    
    }





































/* DEFINIMOS ANCHO CONTENEDOR */
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    background-color: var(--colorFondo);
    -border: 1px dotted rgb(125, 125, 125);
}

































/* ESTILOS HEADER*/
.menu{
    display: flex; /* Pone logo y enlaces en fila */
    justify-content: space-between; /*  Logo a la izquierda, enlaces a la derecha */
    align-items: center; /*  Centra verticalmente todo */
    height: 70px; /*  Altura fija del menú */
}

/* estilos logo */
.menu__logo{
    display: flex; 
    align-items: center; /* Centra el logo verticalmente */
    height: 100%; /*  Ocupa toda la altura del menú (70px) */
        /* border: 1px dotted rgb(83, 83, 83);   */
}
.logo__imagen {
       display: block;  /* EVITA espacio fantasma debajo */
    height: 40px;  /* Tamaño fijo para el logo */
}


/* estilos enlaces */
.enlaces__lista{
    display: flex; /*  Pone los enlaces en fila (no en columna) */
    align-items: center; 

    list-style: none; /*  Elimina los puntitos de la lista */
   
    gap: 1rem;
     /* AÑADE espacio entre enlaces */
   
    /* border: 1px dotted rgb(83, 83, 83); */

}


.enlaces__header {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: var(--colorEnlaces); /*  Usa variable CSS para el color  Cambia color al pasar mouse */
    font-weight: 500;
}


.enlaces__header:hover{
    text-decoration: underline;
    color: var(--colorEnlaceshover)
}

























/* HEADER CON IDIOMAS */


/* CONTENEDOR DERECHA */
.menu__derecha {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/* SELECTOR DE IDIOMAS */
.menu__idiomas {
    display: flex;
    align-items: center;
}

.idioma__opcion {
    text-decoration: none;
    color: var(--colorEnlaces);
    font-size: 0.70rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.2rem 0.3rem;
}

.idioma__opcion:hover {
    color: var(--colorEnlaceshover);
    background-color: #f0f0f0;
}

.idioma__opcion--actual {
    text-decoration: none;
    font-size: 0.70rem;
    text-transform: uppercase;
    padding: 0.2rem 0.3rem;
 
    color: var(--colorEnlaceshover);
    font-weight: 600;
}

.separador {
    color: #656565;
    font-size: 0.8rem;
    font-weight: 300;
}








































/* HEADER RRSS */

/* CONTENEDOR DERECHA */
.menu__derecha {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/* RRSS */
.menu__redes {
    display: flex;
    align-items: center;
 
}

.red-social {
    text-decoration: none;
    color: var(--colorEnlaces);
    font-size: 1.2rem; /* Tamaño del icono */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Tamaño fijo para mejor click */
    height: 40px;
    /* margin: 0 -0.3rem; */
}

.red-social:hover {
    color: var(--colorEnlaceshover);
    background-color: #f0f0f0;
}

















































